@font-face {
  font-family: "FreeMono";
  /*noinspection CssUnknownTarget*/
  src: url("/FreeMono.woff");
}

.editor {
  display: flex;
  flex-direction: column;
  position: relative;
}

.lineNumber {
  position: absolute;
  right: 0;
}

.editor textarea, .editor code {
  height: 30rem;
  resize: none;
  white-space: pre;
  font-family: "SFMono-Regular", "Consolas", "Menlo", "Liberation Mono", "Ubuntu Mono", "FreeMono", monospace;
  text-rendering: optimizeLegibility !important;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.buttonContainer > * {
  margin: 2px 0;
  flex-grow: 1;
}
