/* Proposed colour scheme:
- 645E9D (dark blue gray)
- 65AFFF (french sky blue)
- E7BBE3 (pink lavender)
- E5E8B6 (pale spring bud)
- 568259 (middle green)
 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
